# Ignore build output and temp files
bin/
obj/
*.mdf
*.ldf
*.log
.vs/
Dockerfile
Dockerfile.*
.dockerignore
.git
.gitignore
.env
.env.*
node_modules/
*.user
*.suo
*.swp
*.tmp
*.bak
*.nupkg
*.vspscc
*.vssscc
*.dbmdl
*.jfm
*.DS_Store
Thumbs.db
.vscode/
