**/.git
**/.gitignore
**/.vscode
**/.vs
**/bin
**/obj
**/.dockerignore
**/Dockerfile*
**/*.md
**/docker-compose*
**/charts
**/.env
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
.github
docs
media
infra
azure.yaml
