name: Build and Deploy to Azure App Service

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: ${{ vars.AZURE_WEBAPP_NAME }}
  REGISTRY_NAME: ${{ vars.AZURE_CONTAINER_REGISTRY_NAME }}
  IMAGE_NAME: zavastore

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build and push image using ACR
      run: |
        az acr build --registry ${{ env.REGISTRY_NAME }} \
                     --image ${{ env.IMAGE_NAME }}:${{ github.sha }} \
                     --image ${{ env.IMAGE_NAME }}:latest \
                     --file ./src/Dockerfile \
                     ./src

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        images: ${{ env.REGISTRY_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:${{ github.sha }}
